@charset "UTF-8";
/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container.header {
  position: fixed;
  z-index: 100;
  background-color: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .container.header {
    height: 60px;
    padding-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  .container.header {
    position: static;
    height: 80px;
    padding-top: 21px;
    padding-bottom: 21px;
    text-align: center;
  }
}

header a {
  color: #212121;
  background: #ffffff;
}

.page-header {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .page-header {
    width: 768px;
    height: 80px;
    margin-left: auto;
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    width: 1200px;
  }
}

.header-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 480px) {
  .header {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .header-menu {
    position: absolute;
    z-index: 100;
    background-color: #ffffff;
    top: 100%;
    left: 0;
    right: 0;
    -webkit-transform: translate(0, -200%);
            transform: translate(0, -200%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header-menu.is-open {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

@media screen and (min-width: 768px) {
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-nav {
  font-weight: 500;
  letter-spacing: 0.02em;
  list-style-type: none;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  color: currentColor;
  font-size: 18px;
  line-height: 1.16;
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 50px;
    color: currentColor;
    font-size: 12px;
    line-height: 1.16;
    font-style: normal;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    margin-right: 50px;
    color: currentColor;
    font-size: 14px;
    line-height: 1.14;
    font-style: normal;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .item:not(:last-child) {
    margin-right: 50px;
    color: currentColor;
    font-size: 14px;
    line-height: 1.14;
    font-style: normal;
  }
}

.site-nav .link {
  position: relative;
  padding-top: 8px;
}

@media screen and (min-width: 767px) {
  .site-nav .link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav .link::after {
  content: "";
}

@media screen and (min-width: 768px) {
  .site-nav .link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    opacity: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.site-nav .link:hover:after,
.site-nav .link:focus:after {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.site-nav .link.current {
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .site-nav .link.current {
    display: block;
    padding-bottom: 32px;
  }
}

.site-nav .link.current::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .site-nav .item:not(:first-child) {
    margin-top: 40px;
  }
}

.address-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  border: none;
}

@media screen and (max-width: 767px) {
  .address-contact {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .address-contact {
    margin-left: 305px;
  }
}

.auth-nav {
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav .item:first-child {
    margin-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav .item.telefone {
    margin-top: 16px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 768px), screen and (max-width: 1200px) {
  .auth-nav .item.telefone {
    margin-top: 10px;
  }
}

.auth-nav .item .link {
  color: #757575;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-size: 18px;
  line-height: 1.16;
  font-style: normal;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .auth-nav .item .link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav .item .link {
    color: #757575;
    font-size: 12px;
    line-height: 1.16;
    font-style: normal;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav .item .link {
    color: #757575;
    font-size: 14px;
    line-height: 1.14;
    font-style: normal;
  }
}

.auth-nav .item .contact-icon {
  margin-right: 10px;
}

.auth-nav .link .contact-icon {
  margin-right: 10px;
}

.auth-nav .item .link:hover,
.auth-nav .item .link:focus {
  color: #2196f3;
  --color5: currentColor;
  -webkit-transform: scale(1.001);
          transform: scale(1.001);
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 200px;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  border-style: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  cursor: pointer;
}

.button.primary {
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: bottom;
}

@media screen and (min-width: 1200px) {
  .button.primary {
    margin-right: 10px;
  }
}

.foorm .button.primary {
  display: initial;
}

.blok-bootom .test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1200px) {
  .blok-bootom .test {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .blok-bootom .test {
    margin-left: 12px;
  }
}

.icon-send {
  margin-left: 10px;
}

.button-close {
  position: absolute;
  bottom: 100%;
  left: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transform: translate(-130%, 130%);
          transform: translate(-130%, 130%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.button-close.close {
  width: 18px;
  height: 18px;
}

.button-close:hover .close,
.button-close:focus .close {
  fill: #2196f3;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 5px;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button:hover, .menu-button:focus {
  color: #2196f3;
}

.icon-cross,
.icon-menu {
  fill: currentColor;
}

.fature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fature-list .title {
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .fature-list .title {
    text-align: left;
  }
}

.fature-list .text {
  color: #212121;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: #757575;
  font-weight: 400;
  margin: 0;
}

.fature-list .item {
  width: 450px;
}

.fature-list .item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .fature-list .item {
    width: calc((100% - 30px * 4) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .fature-list .item {
    width: calc((100% - 30px * 3) / 4);
  }
}

.icon-fature .blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-position: center;
  margin-bottom: 30px;
}

.icon-fature .icon {
  width: 70px;
  height: 70px;
}

.list .list-social:not(:last-child) {
  margin-right: 10px;
}

.list-social .link-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  cursor: pointer;
  height: 44px;
  width: 44px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-social .link-social:hover,
.list-social .link-social:focus,
.list-social .link-social.footer-svg:hover,
.list-social .link-shiddenocial.footer-svg:focus {
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 50%;
}

@-webkit-keyframes animation-scale {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
}

@keyframes animation-scale {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
}

.link-social .icon {
  height: 44px;
  width: 44px;
  --color3: currentColor;
}

.link-social .icon.footer-svg {
  --color3: currentColor;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
}

.hero {
  text-align: center;
  max-width: 1600px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/header-img-480-min.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/header-img-480-min.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 480px) and (min-device-pixel-ratio: 2), screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 480px) and (min-resolution: 192dpi), screen and (max-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/header-img-480@2x-min.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/header-img-480@2x-min.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/header-img-768-min.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/header-img-768-min.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/header-img-768@2x-min.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/header-img-768@2x-min.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/header-img-1600-min.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/header-img-1600-min.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/header-img-1600@2x-min.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/header-img-1600@2x-min.jpg");
  }
}

.hero-title {
  color: #ffffff;
  font-size: 26px;
  line-height: 1.62;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    color: #ffffff;
    font-size: 44px;
    line-height: 1.36;
    font-style: normal;
  }
}

.logo {
  color: #2196f3;
  font-size: 24px;
  line-height: 1.16;
  font-style: normal;
  font-weight: 700;
}

@media screen and (min-width: 1200px) {
  .logo {
    color: #2196f3;
    font-size: 26px;
    line-height: 1.19;
    font-style: normal;
  }
}

.logo .text {
  color: #212121;
  font-family: Raleway;
}

.logo .text.second {
  color: #ffffff;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients .clients-li {
  margin: 15px;
  width: calc((100% - 4 * 15px) / 2);
}

@media screen and (min-width: 768px) {
  .clients .clients-li {
    width: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients .clients-li {
    width: calc((100% - 12 * 15px) / 6);
  }
}

.clients-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  height: 90px;
  border-radius: 4px;
  background-position: center;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .clients-card {
    width: 170px;
  }
}

.clients-li .clients-card:hover,
.clients-li .clients-card:active {
  --color3: currentColor;
  color: #2196f3;
  border: 1px solid #2196f3;
}

.clients-4 .icon {
  width: 80px;
}

.clients-6 .icon {
  width: 89px;
}

.hero-portfolio {
  margin: 0;
  display: none;
}

.filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -4px;
}

@media screen and (min-width: 768px) {
  .filters-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filters-list .filters-li {
  margin: 4px;
}

.filters-list .title {
  color: #212121;
  font-size: 16px;
  line-height: 1.62;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-list .title:hover,
.filters-list .title:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.filters-li .title {
  border: none;
}

.work-list {
  margin: -15px;
}

@media screen and (max-width: 767px) {
  .work-list {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .work-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .work-list {
    margin-top: 50px;
  }
}

.work-list .item {
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .work-list .item {
    width: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .work-list .item {
    width: calc((100% - 6 * 15px) / 3);
  }
}

.work-list .item:nth-child(3n) {
  margin-right: 0;
}

.work-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.work-list .card-img {
  display: block;
  border: none;
}

.work-list .title {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  font-style: normal;
  color: #212121;
  font-weight: 700;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 4px;
}

.work-list .text {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
}

.work-list .card-content {
  padding: 24px 20px;
}

.card-hover {
  position: relative;
  overflow: hidden;
}

.card-hover .text-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  font-style: normal;
  font-weight: 400;
  padding: 63px 24px;
  margin: 0;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-link:hover .text-hover,
.item-link:focus .text-hover {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.item.link-hover {
  -webkit-transition: translate3d 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: translate3d 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item.link-hover:hover,
.item.link-hover:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

main {
  background: #ffffff;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-padding {
  text-align: center;
}

.section-title {
  color: #212121;
  font-size: 28px;
  line-height: 1.18;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    color: #212121;
    font-size: 36px;
    line-height: 1.16;
    font-style: normal;
    margin-bottom: 50px;
  }
}

.container-fatures .section-title {
  display: none;
}

.our-team {
  background-color: #f5f4fa;
}

.list-social {
  margin: 0;
  padding: 0;
}

.team-list {
  font-style: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team-list .title {
  color: #212121;
  font-weight: 500;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-list .text {
  color: #757575;
  font-weight: 400;
  margin: 0;
  margin-bottom: 16px;
}

.team-list .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 24px;
  cursor: pointer;
}

.team-list .team-li {
  margin: 30px;
}

@media screen and (min-width: 768px) {
  .team-list .team-li {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list .team-li {
    width: calc((100% - 8 * 15px) / 4);
  }
}

.team-list .team-li .link {
  display: inline-block;
  height: 44px;
  width: 44px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

@media screen and (min-width: 1200px) {
  .team-list .team-li .list-social:not(:last-child) {
    margin-right: 10px;
  }
}

.team-list .team-li {
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.section.what-doing {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section.what-doing {
    display: block;
  }
  .section.what-doing .what-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  .section.what-doing .what-list .iteam-link {
    position: relative;
    display: block;
  }
  .section.what-doing .what-list .title {
    position: absolute;
    left: 0px;
    bottom: 0px;
    color: #757575;
    background-color: rgba(47, 48, 58, 0.8);
    color: #ffffff;
    font-size: 14px;
    line-height: 1.14;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    padding: 21px 81px;
    margin: 0;
  }
  .section.what-doing .what-list .what-li {
    width: calc((100% - 30px * 2) / 3);
  }
  .section.what-doing .what-list .what-li:not(:last-child) {
    margin-right: 30px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdroup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 55%;
  left: 50%;
  overflow: hidden;
  padding: 40px;
  max-height: calc(100% - 30px);
  max-width: calc(100% - 30px);
  max-width: 450px;
  max-height: 609px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  text-align: center;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 768px) {
  .modal {
    position: relative;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}

.backdroup.is-hidden {
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
}

.modal-title {
  display: block;
  font-size: 20px;
  line-height: 1.50;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
  }
}

.foorm {
  margin: 0;
  width: 100%;
}

.foorm-field {
  position: relative;
  display: block;
  margin-bottom: 28px;
}

.foorm-field .agre {
  color: #757575;
  font-size: 12px;
  line-height: 1.16;
  font-style: normal;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .foorm-field .agre {
    color: #757575;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
  }
}

.foorm-field.comment:focus-within textarea {
  border-color: #2196f3;
  outline: none;
}

.foorm-field:focus-within .foorm-label,
.foorm-field .foorm-input:not(:placeholder-shown) + .foorm-label {
  -webkit-transform: translateY(-270%) translateX(-30px);
          transform: translateY(-270%) translateX(-30px);
  color: #2196f3;
}

.foorm-field:focus-within .foorm-label.comment,
.foorm-field .foorm-input:not(:placeholder-shown) + .foorm-label.comment {
  -webkit-transform: translateY(-220%) translateX(-5px);
          transform: translateY(-220%) translateX(-5px);
}

.foorm-field:focus-within > .icon {
  fill: #2196f3;
}

.foorm-field.checkbox-fieled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foorm-label {
  position: absolute;
  top: 50%;
  left: 40px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foorm-label.comment {
  position: absolute;
  top: 12px;
  left: 16px;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-link {
  color: #2196f3;
}

.foorm-input {
  display: block;
  width: 100%;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 18px;
  padding-left: 40px;
  font: inherit;
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .foorm-input {
    width: 100%;
  }
}

.comment .foorm-input {
  height: 120px;
  overflow: auto;
  padding: 12px 16px;
  resize: none;
}

input,
textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
}

label:focus-within input,
label:focus-within textarea {
  border-color: #2196f3;
  outline: none;
}

.foorm-label + .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  width: 18px;
  height: 18px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* добавил checkbox*/
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-fieled {
  text-align: start;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-icon {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  fill: #ffffff;
  border-color: transparent;
  background-color: #2196f3;
  background-image: url("../images/full-check.svg");
  background-size: contain;
  background-origin: border-box;
  cursor: pointer;
}

.footer {
  background: #2f303a;
  color: rgba(255, 255, 255, 0.4);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1200px) {
  .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.box-1 {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .box-1 {
    text-align: left;
  }
  .box-1 .address-list {
    width: 231px;
  }
}

@media screen and (min-width: 1200px) {
  .box-1 .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .box-2 {
    min-width: 300px;
    margin-top: 60px;
  }
}

.box-2 .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.address-list {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20px;
}

.address-list .text {
  color: #ffffff;
  margin-bottom: 9px;
}

.address-list .link {
  color: rgba(255, 255, 255, 0.6);
}

.address-list .e-mail {
  margin-bottom: 9px;
}

.address-list .telefone {
  margin-bottom: 0;
}

.footer-text {
  display: block;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-text {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .box-3 {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .box-3 {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px), screen and (max-width: 1200px) {
  .box-3 {
    width: 450px;
  }
}

.box-3 .blok-bootom {
  padding-top: 20px;
}

@media screen and (min-width: 1200px) {
  .box-3 .blok-bootom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.email-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
}

@media screen and (min-width: 768px) {
  .email-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .email-input {
    width: 358px;
  }
}
/*# sourceMappingURL=main.css.map */