.fature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & .title {
        @include text-style($primary-text-color, 14px, 1.14);
        text-transform: uppercase;
        font-weight: $font-weight-700;
        text-align: center;
        margin: 0;
        margin-bottom: 10px;

        @media screen and (min-width: $desktop) {
            text-align: left;
        }

    }

    & .text {
        @include text-style($primary-text-color, 14px, 1.71);
        color: $title-text-color;
        font-weight: $font-weight-400;
        margin: 0;
    }

    & .item {
        width: 450px;

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        @media screen and (min-width: $tablet) {
            width: calc((100% - 30px * 4) / 2);
        }

        @media screen and (min-width: $desktop) {
            width: calc((100% - 30px * 3) / 4);
        }
    }
}

.icon-fature {
    & .blok {
        @include FlexCentr();

        height: 120px;
        background-color: #f5f4fa;
        border-radius: 4px;
        background-position: center;
        margin-bottom: 30px;

    }

    & .icon {
        width: 70px;
        height: 70px;
    }
}