.logo {

    @include text-style($accent-color, 24px, 1.16);
    font-weight: 700;

    @media screen and (min-width: $desktop) {
        @include text-style($accent-color, 26px, 1.19);
    }


    @media screen and (min-width: $tablet) {
        display: flex;
    }

    & .text {
        color: $primary-text-color;
        font-family: $font-family-Raleway;

    }

    & .text.second {
        color: $bg-color;
    }
}