.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: $mobile) {
        width: $mobile;
    }

    @media screen and (min-width: $tablet) {
        width: $tablet;
    }

    @media screen and (min-width: $desktop) {
        width: $desktop;
    }

    &.header {
        position: fixed;
        z-index: 100;
        background-color: $bg-color;

        top: 0;
        left: 0;
        right: 0;

        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: $tablet) {
            height: 60px;
            padding-top: 10px;
        }

        @media screen and (min-width: $tablet) {
            position: static;
            height: 80px;
            padding-top: 21px;
            padding-bottom: 21px;
            text-align: center;
        }
    }
}

header a {
    color: $primary-text-color;
    background: $bg-color;
}

.page-header {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: $bg-color;

    @media screen and (min-width: $tablet) {
        width: $tablet;
        height: 80px;

        margin-left: auto;
        margin: auto;
    }

    @media screen and (min-width: $desktop) {
        width: $desktop;
    }
}

.header-nav {
    align-items: center;

    @media screen and (min-width: $tablet) {
        display: flex;
    }
}

.header {
    @media screen and (min-width: $mobile) {
        width: $mobile;
    }

    @media screen and (min-width: $tablet) {
        width: $tablet;

        display: flex;
        align-items: center;
    }

    @media screen and (min-width: $desktop) {
        width: $desktop;
    }
}

.header-menu {
    @media screen and (max-width: $max-mobile) {
        position: absolute;
        z-index: 100;
        background-color: $bg-color;
        top: 100%;
        left: 0;
        right: 0;
        transform: translate(0, -200%);
        transition: transform $hover-animation;

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16),
            0px 2px 4px rgba(0, 0, 0, 0.08),
            0px 4px 8px rgba(0, 0, 0, 0.04);

        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 15px;
        padding-right: 15px;
    }

    &.is-open {
        transform: translate(0, 0);
    }

    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: center;
    }
}

.site-nav {
    font-weight: 500;
    letter-spacing: 0.02em;

    list-style-type: none;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    @include text-style(currentColor, 18px, 1.16);

    @media screen and (min-width: $tablet) {
        display: flex;
        margin-left: 50px;
        @include text-style(currentColor, 12px, 1.16);
    }

    @media screen and (min-width: $tablet) {
        margin-right: 50px;
        @include text-style(currentColor, 14px, 1.14);
    }

    & .item:not(:last-child) {
        @media screen and (min-width: $tablet) {
            margin-right: 50px;
            @include text-style(currentColor, 14px, 1.14);
        }

    }

    & .link {
        position: relative;

        padding-top: 8px;

        @media screen and (min-width: $max-mobile) {

            display: inline-block;
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }

    & .link::after {
        content: "";

        @media screen and (min-width: $tablet) {
            position: absolute;
            bottom: 0;
            left: 0;

            display: block;
            width: 100%;
            height: 4px;
            background-color: $accent-color;
            border-radius: $border-radius-2;

            opacity: 0;
            transform: scaleX(0);
            transition: transform $hover-animation;
        }
    }

    & .link:hover:after,
    & .link:focus:after {
        opacity: 1;
        transform: scaleX(1);
    }

    & .link:hover,
    & .link:focus {
        color: $accent-color;
    }

    & .link.current {
        position: relative;
        display: inline-block;
        padding-bottom: 8px;

        color: $accent-color;

        @media screen and (min-width: $tablet) {
            display: block;
            padding-bottom: 32px;
        }
    }

    & .link.current::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 4px;
        background-color: $accent-color;
        border-radius: $border-radius-2;
    }

    .item:not(:first-child) {
        @media screen and (max-width: $max-mobile) {
            margin-top: 40px;
        }
    }
}

.address-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0;
    border: none;

    @media screen and (max-width: $max-mobile) {
        margin-top: 60px;
    }

    @media screen and (min-width: $desktop) {
        margin-left: 305px;
    }
}

.auth-nav {
    font-weight: 500;
    letter-spacing: 0.02em;


    @media screen and (min-width: $desktop) {
        display: flex;
    }

    & .item {
        @media screen and (min-width: $tablet) {
            display: flex;
        }

        &:first-child {
            @media screen and (min-width: $desktop) {
                margin-right: 20px;
            }
        }

        &.telefone {
            @media screen and (max-width: $max-mobile) {
                margin-top: 16px;
                margin-left: 10px;
            }

            @media screen and (min-width: $tablet) and (max-width: 1199px) {
                margin-top: 10px;
            }

            // @media screen and (min-width: $tablet) {
            //     margin-top: 10px;
            // }

            // @media screen and (min-width: $desktop) {
            //     margin-top: 0;
            // }

        }

        & .link {
            color: $title-text-color;
            display: inline-flex;
            justify-content: center;
            align-items: center;

            @include text-style($title-text-color, 18px, 1.16);

            @media screen and (min-width: $desktop) {
                padding-top: 32px;
                padding-bottom: 32px;
            }

            @media screen and (min-width: $tablet) {
                @include text-style($title-text-color, 12px, 1.16);
            }

            @media screen and (min-width: $desktop) {
                // width: $desktop;
                @include text-style($title-text-color, 14px, 1.14);
            }

            transform: scale(1);
            transition: $hover-animation;
        }

        & .contact-icon {
            margin-right: 10px;
        }
    }

    .link .contact-icon {
        margin-right: 10px;
    }

    .item .link:hover,
    .item .link:focus {
        color: $accent-color;
        --color5: currentColor;

        transform: scale(1.001);
    }
}